.left {
  background: rgb(29, 29, 29);
  display: flex;
  /* flex-direction: column; */
  /* width: 50%; */
  & > div {
    display: flex;
    flex-direction: column;

    & > .address {
      color: #fff;
      & > img {
        padding: 0 20px 0 10px;
      }
    }
    & > div {
      display: flex;
      margin: .5rem;
      & > .call {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        & > img {
            width: 30px;
            height: 30px;
        }
        & > a {
          color: #fff;
        }
      }
    }
  }


  & > .mainlink {
    margin-left: 25%;
    margin-top: 7%;
    & > h3 {
      color: #009dec;
    }
    & > nav {
      display: flex;
      flex-direction: column;

      & > a {
        color: #fff;
        margin: 2px;
      }
    }
  }
  & > .Google-Review{
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-left: 3rem;

    & > img{
      height: 20vw;
      display: none;
    }
  }
}
.mainlink-Tab {
  margin-left: 0%;
  margin-top: 7%;
  & > h3 {
    color: #009dec;
  }
  & > nav {
    display: flex;
    flex-direction: column;

    & > a {
      color: #fff;
      margin: 2px;
    }
  }
}
.Google-Review-Tab{
  width: 100vw;
  margin: 0rem;
  margin-left:0rem ;
  padding: 10px;
  display: block;
  & > img{
    height: 20vw;
    display: none;
  }
}
.footer-Tab{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}