
  .img {
    max-width: 400px;
    height: 10rem;
    padding: 0 15px;
    object-fit: cover;
  }
  
  .img:last-of-type {
    padding-left: 0;
  }
  .item {
    max-width: 400px;
    height: 50rem;
    padding: 0 15px;
    object-fit: cover;
  }
  
  .item:last-of-type {
    padding-left: 0;
  }
  .itemInner{
    width: 100vw;
    overflow: hidden;
    height: 70rem;
  }
  .inner {
    width: 100vw;
    overflow: hidden;
    height: 10rem;
  }
  
  .wrapper {
    display: flex;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  